body{
  background-color: #edf0f6;
}
.property-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.property-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.property-card {
  position: relative;
  
}

.property-image {
  position: relative;
  
}



.property-card {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #ffffff;
  
  border-radius: 10px;
  overflow: hidden;

  width: 350px;
  margin: 23px;
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}



.property-card img {
  max-width: 100%;
  height: auto;
}

.property-card h3 {
  
  margin: 10px ;
  color: #333;
  text-align: center;
}



.property-card a {
  display: block;
  text-decoration: none;
  color: #3e3feb;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  background-color: #f0f4fb;
  border-top: 1px solid #ddd;
  transition: background-color 0.2s;
}



.centre-button {
  text-align: center;
  margin-top: 20px;
}

.centre-button button {
  background-color: #3e3feb;
  color: #fff;
  padding: 10px 20px;
  margin-left: 570px;
  border: none;
  cursor: pointer;
}
.name{
  display: flex;
}
.centre-button button:hover {
  background-color: #3e3feb;
}


  

  
  .property-price {
    font-size: 16px;
    color: #3e3feb;
    font-weight: bold;
  }
 
.container{
  display: flex; 
  column-gap: 170px;
 font-size: 15px;
}
.location-text {
color: #333;
  margin-left: 8px; 
}
.icons1{
  width: 15px;
height: 15px !important;
}
.room-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.room-info {
  display: flex;
 
  padding: 8px; 
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  
  
}
.rooms{
  margin: 15px;
}
.room-info1 {
  display: flex;
  
 
  padding: 8px; 
  margin-top: 8px; 
  text-align: center; 
  font-size: 14px;
  
  
}
.image{
  border-radius: 10px;
}
.icons {
  width: 24px; 
  height: 24px;
  
}

span {
  margin-top: 5px;
  font-size: 14px; 
  color: #333;
}

.price{
  font-size: 25px;
  color: #333;
  
 
  display: flex;
  
}
.proper-foot{
  border-top: 1px dashed #ccc;
  display: flex;
  justify-content: space-between;
}
.butt{
  background-color:#4899ec;
color: white;
  
 
  padding: 10px 18px 10px 18px;
  font-weight: bold;
  border-radius: 20px ;

  cursor: pointer;
  transition: background-color 0.2s;
  padding: 10px;
  
  margin: 20px;
}
.mon{
  color: #333;
  font-size: 20px;
  margin-top: 30px;
}
.pri{
  display: flex;
}


/* .rent-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  color: #3e3feb;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 50px;
  opacity: 1; 
  transition: opacity 0.3s ease-in-out; 
} */
.heart-icon {
  position: absolute;
  background-color: #dbeafa;
  padding: 10px;
  border-radius: 10px;
  /* top: 7px;
  right: 7px;  */
  right: 140px;
  bottom: 32px;
  width: 15px; 
  height: 15px;
  cursor: pointer; 
}
.year{
  font-size: 15px;
  padding: 1px 8px 1px 8px;
  border-color: #4899ec;
  border-radius: 25px;
  border-style: dashed;
}
.names{
  /* margin: 25px; */
  font-size: 17px;
}

.pagenumber{
 margin: 8px;
 margin-top: 10px;
  background-color: #fcfcfc;
  
}
.pagination{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  margin: 20px;
  
  background-color: #ecf0f7;
 column-gap: 900px;
}
.page-count{
    margin: 15px;
    margin-left: 20px;
    margin-top: 20px;
}